
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 10;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Courier Prime', monospace;
  color: white;
  z-index: 0;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    
    background: #18181B;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

.section-title {
  margin-top: 2em;
}

.section-title h1{
  width: 100%; 
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.449); 
  line-height: 0.01em;
  
}

.section-title span{
  background:#18181B; 
    padding:0 10px; 
}


.postPreview {
  
 
  display: flex;
  
  border-bottom: solid .1em rgba(255, 255, 255, 0.449);
  padding-bottom: 2em;
  padding-top: 2em;
}

.postPreviewImage {
  margin-left: 3em;
}


.postPreviewText {
  padding-left: 4em;
  
}
.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qotd {
  background-color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
 
  
  min-width: 80vw;
 
}

.blogFeed {
  justify-self: center;
  align-self: center;
}

.articleBox {
  background-color: white;
  color: black;
  padding-left: 13em;
  padding-right: 13em; 
  margin-left: 4em;
  margin-right: 4em;
  padding-top: 1em;
  padding-bottom: 5em;
  font-size: 1em;
}

.footer {
 
  height: 10em;
  
  display: flex;
  flex-direction: column;
}

.test1 {
  
  width: 100%;
  
}
.test2 {
  padding-top: 5em;
  width: 100%;
}
.test3 {
  
  display: block;
  text-align: center;
  width: 100%;
  
}

@media screen and (max-width: 1200px){
  .articleBox {
    padding-left: 12em;
    padding-right: 12em; 
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 1000px){
  .articleBox {
    padding-left: 1em;
    padding-right: 1em; 
    margin-left: .2em;
    margin-right: .2em;
    padding-top: 1em;
    padding-bottom: 5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 575px){

  .postPreviewImage{
    margin-left: 0;
  }
  .postPreviewText{
    padding-left: 0;
    text-align: center;
  }
  .postPreview{
    flex-direction: column;
    align-items: center;
  }

}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: fit-content;
  justify-items: center;
}

.header {
  display: flex;
  z-index: 1;
  width: fit-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  a:hover {
    cursor: pointer;
  }
  img:hover{
    cursor: pointer;
  }
}

button {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  background-color: #18181B;
  border: none;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}
button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition-duration: 0.8s;
}
.header-button-container {
  padding: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  min-height: fit-content;
}





a {
  color: #1d77fe;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
  box-sizing: border-box;
}




@keyframes animateTop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity:1}
}


.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(127, 127, 127, 0.669);
  animation: animateTop;
  animation-duration: 0.5s;
}

.modal-content {
  background-color: #18181B;
  margin: 15% auto;
  padding: 20px;
  border:none;

  width: 80%;
  z-index: 3;
  border-radius: 5%;
}
.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer, .modal-header{
  text-align: center;
}
.visible {
  display: block;
}

.not {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(58, 121, 239);
  text-decoration: none;
  cursor: pointer;
}

input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding: 12px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea{
  height: 20em;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  float: right;
  padding: 12px 20px;
  border-radius: 4px;
  font-family:inherit;
  font-weight: 600;
 
}

.form{
  border-radius: 5px;
  padding: 20px;
 
  width: 100%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after{
  content:"";
  display: table;
  clear: both;
}

.burger{
  display: none;
}


@media screen and (max-width:600px){
  .col-25, .col-75, input[type=submit]{
    width: 100%;
    margin-top: 0;
  }
  textarea {
    height: 10em;
  }
  #modalButton{
    display: none;
  }

  .burger {
    padding-top: .5em;
    font-size: 3em;
    display: inline;
    z-index: 1;
    color: white;
  }
}

.left{
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: .4em;
  .header-button-container{
    width: 100%;
  }
}