
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier Prime', monospace;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    background: #18181B;
    // background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

<<<<<<< Updated upstream
=======
.postPreview {
  
  
  display: flex;
  border-bottom: solid .1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.postPreviewText {
  padding-left: 2em;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qotd {
  background-color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
 
  
  min-width: 80vw;
 
}

.blogFeed {
  justify-self: center;
  align-self: center;
}

.articleBox {
  background-color: white;
  color: black;
  padding-left: 13em;
  padding-right: 13em; 
  margin-left: 4em;
  margin-right: 4em;
  padding-top: 1em;
  padding-bottom: 5em;
  font-size: 1em;
}

@media screen and (max-width: 1200px){
  .articleBox {
    padding-left: 12em;
    padding-right: 12em; 
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 1000px){
  .articleBox {
    padding-left: 1em;
    padding-right: 1em; 
    margin-left: .2em;
    margin-right: .2em;
    padding-top: 1em;
    padding-bottom: 5em;
    font-size: 1em;
  }
}


.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  a:hover {
    cursor: pointer;
  }
  img:hover{
    cursor: pointer;
  }
}

>>>>>>> Stashed changes
.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: #d2e1f3;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
  box-sizing: border-box;
}
